@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Coolvetica;
    src: url(/fonts/coolvetica.woff2) format("woff2"),
      url(/fonts/coolvetica.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: GillSans;
    src: url(/fonts/gillsanslight.woff2) format("woff2"),
      url(/fonts/gillsanslight.woff) format("woff");
    font-display: swap;
  }
  h1,
  h2 {
    @apply py-2 text-3xl md:text-5xl font-heading tracking-wider;
  }
  p {
    @apply py-2 text-xl px-4 sm:px-0;
  }
}
